.Rproj.user
.Rhistory
.RData
.Ruserdata
match_scores_1877-1967_unindexed_csv.csv 
match_scores_1877-1967_unindexed_json.json
match_scores_1968-1990_unindexed_csv.csv
match_scores_1968-1990_unindexed_json.json
match_scores_1991-2016_unindexed_csv.csv
match_scores_1991-2016_unindexed_json.json
match_scores_2017_unindexed_csv.csv
match_scores_2017_unindexed_json.json
match_stats_1991-2016_unindexed_csv.csv
match_stats_1991-2016_unindexed_json.json
match_stats_2017_unindexed_csv.csv
match_stats_2017_unindexed_json.json
player_overviews_unindexed_csv.csv
player_overviews_unindexed_json.json
rankings_1973-2017_csv.csv
rankings_1973-2017_json.json
tournaments_1877-2017_unindexed_csv.csv
tournaments_1877-2017_unindexed_json.json
validation_report.json